/*git Cor de fundo da página */
body {
    background-color: #ADD8E6;
    /* Azul bebê */
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilo da faixa no cabeçalho */
.header-bar {
    background-color: #004080;
    /* Azul escuro */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

/* Estilo do conteúdo do cabeçalho */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

/* Estilo das imagens no cabeçalho */
.header-logo {
    height: 60px;
    width: 60px;
    margin: 0 10px;
}

/* Botão principal */
.btn-primary {
    background-color: #004080;
    /* Azul escuro */
    border: none;
}

.btn-primary:hover {
    background-color: #00274d;
    /* Azul mais escuro */
}
